.Touchpad_Button {
    left: 100px;
    top: 450px;
    position: absolute;
    overflow: visible;
    z-index: 2;
    width: 720px;
    background-color: rgba(213,53,160,1);
    border-radius: 45px;
    padding: 10px;
    shape-rendering: auto;
}