#Find_your_NPath {
    left: 84px;
    top: 178px;
    position: absolute;
    overflow: hidden;
    width: 865px;
    white-space: nowrap;
    text-align: left;
    font-family: Century;
    font-style: normal;
    font-weight: normal;
    font-size: 110px;
    color: rgba(112,112,112,1);
  }