.About_NPath {
    position: absolute;
    width: 597px;
    height: 77px;
    left: 139px;
    top: 586px;
    border-radius: 45px;
    padding: 10px;
    background-color: black;
    overflow: visible;
    shape-rendering: auto;
  }

  .About_NPath:hover {
    background-color:grey;
  }

  .Set_Volume_Button {
    width: 398px;
    height: 77px;
    left: 139px;
    top: 469px;
    border-radius: 45px;
    padding: 10px;
    background-color: black;
    shape-rendering: auto;
    position: absolute;
  }

  .Set_Volume_Button:hover {
    background-color:grey;
  }

  .Choose_Mode_Button {
    position: absolute;
    width: 398px;
    height: 77px;
    left: 139px;
    top: 352px;
    overflow: visible;
    shape-rendering: auto;
    border-radius: 45px;
    padding: 10px;
    background-color: black;
  }

  .Choose_Mode_Button:hover {
    background-color:grey;
  }