#Text_Style{
    color: rgba(255,255,255,1);
    white-space: nowrap;
    text-align: center;
    font-family: Century;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
}


#Activate_Board_Button {
    position: absolute;
    width: 597px;
    height: 77px;
    left: 139px;
    top: 586px;
    border-radius: 45px;
    padding: 10px;
    background-color: black;
    overflow: visible;
    shape-rendering: auto;
  }

  #Activate_Board_Button:hover {
    background-color:grey;
  }

  #Set_Volume_Button {
    width: 398px;
    height: 77px;
    left: 139px;
    top: 469px;
    border-radius: 45px;
    padding: 10px;
    background-color: black;
    shape-rendering: auto;
    position: absolute;
  }

  #Set_Volume_Button:hover {
    background-color:grey;
  }

  #Choose_Mode_Button {
    position: absolute;
    width: 398px;
    height: 77px;
    left: 139px;
    top: 352px;
    overflow: visible;
    shape-rendering: auto;
    border-radius: 45px;
    padding: 10px;
    background-color: black;
  }

  #Choose_Mode_Button:hover {
    background-color:grey;
  }