/*css styling for Set Volume button and hover text*/

.SetVolumeButton {
    width: 398px;
    height: 77px;
    left: 310px;
    top: 500px;
    border-radius: 45px;
    padding: 10px;
    background-color: black;
    shape-rendering: auto;
    position: absolute;
  }

  .SetVolumeButton:hover {
    background-color:rgb(242, 169, 12);
    cursor: pointer;
  }