#Touchpad_Map {
    position: absolute;
    top: 130px;
    left: 800px;
    width: auto;
    height: auto;
    z-index: -1;
    overflow: hidden;
    
  }

  #labmap{
    position: fixed;
    max-width: 85%;
    max-height: 85%;
  }


