.ActivateBoardButton {
    left: 220px;
    top: 285px;
    position: absolute;
    overflow: visible;
    width: 480px;
    height:50px;
    background-color: black;
    border-radius: 45px;
    padding: 30px;
    shape-rendering: auto;
}

.ActivateBoardButton:hover {
    background-color:rgb(242, 169, 12);
    cursor: pointer;
}

.hide{
    display: none;  
}

.ActivateBoardButton:hover + .hide{
    display: block;
    position: absolute;
    z-index: 2;
    top: 400px;
    left: 275px;
    font-size: 22px;
    color: Black;
  }