/* Gives css positioning and layer control for the background image*/


#Labyrinth_Background {
    z-index: 2;
    width: 100vw;
    height: 81vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
