#Labyrinth_Background {
    position: fixed;
    top: -240px;
    left: -130px;
    z-index: -1;
    background-size: cover;
    overflow: hidden;
    display:flex;
    background-repeat: no-repeat;
    background-size: contain;
  }
