
.SetTouchpadButton {
  left: 50px;
  top: 165px;
  position: absolute;
  overflow: visible;
  height: 80px;
  width: 780px;
  background-color: black;
  border-radius: 45px;
  padding: 10px;
  shape-rendering: auto;
}

  .SetTouchpadButton:hover {
    background-color:orange;
    cursor: pointer;
  }

  .hide{
    display: none;  
}

.SetTouchpadButton:hover + .hide{
    display: block;
    position: absolute;
    z-index: 2;
    top: 268px;
    left: 220px;
    font-size: 22px;
    color: Black;
  }

.Back_to_Upload_Button{
  left: 60px;
  top: 660px;
  position: absolute;
  overflow: visible;
  z-index: 2;
  width: 760px;
  height: 80px;
  background-color: rgb(248, 179, 6);
  border-radius: 45px;
  padding: 5px;
  shape-rendering: auto;
}