a:link { 
  text-decoration: none; 
  color: rgb(247, 245, 245);
}


a:visited { 
  color: rgb(247, 245, 245);
  text-decoration: none; 
}


a:hover { 
  text-decoration: none; 
  color: grey;
}


a:active { 
  color: rgb(247, 245, 245);
  text-decoration: none;
 }

 #Text_Style{
  color: rgba(255,255,255,1);
  white-space: nowrap;
  text-align: center;
  font-family: Century;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
}

#Text_Container{
  padding: 20px;
}



#Headline{
  position: relative;
  background-color: grey;
  padding: 20px;
  height: 60px;
  border-radius: 45px;
  top: 20px;
  left: 150px;
  width: 700px;
}

#VolumeInput{
  position: relative;
  background-color: grey;
  padding: 20px;
  height: 60px;
  border-radius: 45px;
  top: 350px;
  left: 300px;
  width: 400px;
}

#ModeInput{
  left: 310px;
  top: 580px;
  height: 75px;
  position: absolute;
  overflow: visible;
  width: 530px;
  background-color: rgb(247, 186, 74);
  border-radius: 45px;
  border-style: outset;
  border-color: blueviolet;
  border-width: 1px;
  padding: 20px;
  shape-rendering: auto;

}